<!-- Header de la Aplicación -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- Botón hamburguesa -->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title data-test="registros-title" class="header">Registros</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Contenido de la aplicacion -->
<ion-content class="record-content ion-padding" fullscreen>
  <ion-list>
    <ion-item *ngFor="let r of (registros$ | async)"
          [routerLink]="['/registros', r.id]">
      <ion-label>
        <h2>Mesa {{ r.mesa }}</h2>            <!-- antes r.numeroMesa -->
        <p>Garzón: {{ r.garzon || '—' }}</p>
      </ion-label>

      <ion-note slot="end">
        {{ r.fecha | date:'dd/MM/yyyy' }}
      </ion-note>
    </ion-item>
  </ion-list>

  <!-- Boton para volver a el menu de la mesa -->
  
</ion-content>

<!-- Footer de la Aplicación -->
<ion-footer class="footer" slot="fixed">
  <ion-toolbar color="primary">
    <ion-title>Copyright © TableMaster 2025.</ion-title>
  </ion-toolbar>
</ion-footer>