.garzon-wrapper {
    margin-top: 100px;
}
  
.garzon-label {
    font-size: 0.9rem;
    color: var(--ion-color-medium);
}
  
.garzon-input {
    --min-height: 40px;
    font-size: 1rem;
    color: #fff;
}