<!-- Header de la Aplicación -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- Boton menu hamburguesa -->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title data-test="home-title" class="header">Mesas</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Contenido de la aplicacion -->
<ion-content class="home-content" fullscreen>

  <ion-refresher slot="fixed" (ionRefresh)="refrescar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col size="4" size-sm="3" *ngFor="let mesa of (mesas$ | async); trackBy: mesaId">
        <div  #mesaCard class="mesa-card" [ngClass]="mesa.estado" [attr.data-id]="mesa.id" (click)="abrirMesa(mesa)">
          <ion-icon name="restaurant" class="mesa-icon"></ion-icon>
          <span class="mesa-num">{{ mesa.numero }}</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Botón para agregar una nueva mesa -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="agregarMesa()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>