<!-- Header de la Aplicación -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- Botón hamburguesa -->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="header">Mesas</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Contenido de la aplicacion -->
<ion-content class="home-content" fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col size="4" size-sm="3" *ngFor="let mesa of (mesas$ | async)">
        <div  #mesaCard class="mesa-card" [ngClass]="mesa.estado" [attr.data-id]="mesa.id" (click)="abrirMesa(mesa)">
          <ion-icon name="restaurant" class="mesa-icon"></ion-icon>
          <span class="mesa-num">{{ mesa.numero }}</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- Footer de la Aplicación -->
<ion-footer class="footer" slot="fixed">
  <ion-toolbar>
    <ion-title>Copyright © TableMaster 2025.</ion-title>
  </ion-toolbar>
</ion-footer>