<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">¡Ups! No se encontro la pagina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding page404-content" fullscreen>
  <div class="illustration">
    <!-- icono de advertencia -->
    <ion-icon name="warning-outline"></ion-icon>
  </div>

  <h1>404</h1>
  <p>No pudimos encontrar la ruta solicitada.</p>

  <ion-button routerLink="/home" size="large" shape="round" expand="block">
    Volver al inicio
  </ion-button>
</ion-content>